<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Mission to Mars
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </h1>
  </div>
  <div class="container">
    <!--Columns for content-->
    <div class="row">
      <div class="col-lg-7">
        <div class="box white justify">
            <h3> Latest Mars News</h3>
            <p>{{ mars.title }}</p>
            <p>{{ mars.text }}</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="box white">
            <h2>Visualizations</h2>
            <hr>
            <div class="row">
                <div class="col-lg-6 col-sm-3">
                    <a href="hem_urls[0]">
                        <img src="hem_urls[0]">
                    </a>
                </div>
                <div class="col-lg-6 col-sm-3">
                    <a href="Humidity.html">
                        <img src="assets/images/Fig2.png">
                    </a>
                </div>
                <div class="col-lg-6 col-sm-3">
                    <a href="Cloudiness.html">
                        <img src="assets/images/Fig3.png">
                    </a>
                </div>
                <div class="col-lg-6 col-sm-3">
                    <a href="WindSpeed.html">
                        <img src="assets/images/Fig4.png">
                    </a>
                </div>
              </div>
        </div>
      </div>
    </div>
      <!-- <div>
      <ul style="list-style: none;">
        {% for team in teams %}
          <li>{{ team.player }}: {{ team.position }}</li>
        {% endfor %}
      </ul>
    </div> -->
</body>

</html>